/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

img.img-fluid-svg {
    width: 100%;
    height: auto;
}

img.img-menu-svg {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

/*****************************************************************************
* Jamboree
*****************************************************************************/

.jth td {
  border-style:solid;
  padding:3pt 3pt 3pt 3pt;
  border-color:#FFFFFF;
  border-width:3pt;
  vertical-align:top;
}

.c1 {
  font-weight:bold;
  text-align:right;
}
.cBold { font-weight:bold; }
.cTime { font-weight:bold; }
.cBlue { background-color:#c9daf8; }
.cPink { background-color:#f4cccc; }
.cGray { background-color:#f3f3f3; }
.cPurple { background-color:#d9d2e9; }
.cGreen { background-color:#d9ead3; }
.cOrange { background-color:#f9cb9c; }
.cYellow { background-color:#fff2cc; }
.cRed { background-color:#ea9999; }
.cWhite { background-color:#ffffff; }
/*
x background-color:#fce5cd;
x background-color:#ffff00;
background-color:#fff2cc
*/
